name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: macos-latest
    outputs:
      version: ${{ steps.version.outputs.VERSION }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests arm64
        run: swift test

      - name: Run tests x86_64
        run: arch -x86_64 swift test

      - name: Read version
        id: version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_OUTPUT

      - name: Download dependencies
        env:
          GH_TOKEN: ${{ github.token }}
        run: ./scripts/downloads/download-deps.sh

      - name: Build executables
        run: ./scripts/build/build-executable-all.sh

      - name: Package executables
        env:
          VERSION: ${{ steps.version.outputs.VERSION }}
        run: |
          cd release
          tar -czf "HyperspaceInstaller-$VERSION-executables.tar.gz" x86_64/HyperspaceInstaller arm64/HyperspaceInstaller
          ls -lh "HyperspaceInstaller-$VERSION-executables.tar.gz"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.version.outputs.VERSION }}
          files: release/HyperspaceInstaller-${{ steps.version.outputs.VERSION }}-executables.tar.gz

  build-basemod:
    needs: build-and-release
    uses: fr-eed/hyperspace-installer-mac/.github/workflows/release-basemod-installer.yml@main
    with:
      release-tag: v${{ needs.build-and-release.outputs.version }}
